@font-face {
    font-family: 'bariol-italic';
    src: url('../../../assets/Bariol-Italic.otf') format('opentype');
}

.review_conatainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 156px;
    gap: 16px;
    height: 100%;
    width: 100%;
    font-family: "rene-bieder-milliard-medium";

    .review_text_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        width: 60%;

        h1 {
            font-size: 2vw;
            span {
                color: #D95103;
            }
        }
                                                       
        .tlrt {
            font-family: "rene-bieder-milliard-medium";
            color: #0C6967;
        }

        #itert {
            font-family: "bariol-italic";
            font-size: 1.5vw;
        }

        .slider_button{
            display: flex;
            align-items: center;
            gap: 16px;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #000000a1;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }

    .image_wrapper {

        img {
            // width: 456px;
            height: 576px;
            border-radius: 8px;
        }
    }
}