@font-face {
    font-family: 'rene-bieder-milliard-medium';
    src: url('../../assets/Rene-Bieder-Milliard-Medium.otf') format('opentype');
}

.Navbar_wrapper {
    display: flex;
    height: 80px;
    width: 100%;
    position: absolute;
    padding: 16px 156px;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        overflow: hidden;
        width: 160px;
        img{
            background: #fff;
            z-index: 2;
        }
        span {
            color: #0C6967;
            font-family: "rene-bieder-milliard-medium";
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            z-index: 1;
        }
    }

    .social_logo {
        display: flex;
        // width: 360px;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;
        align-self: stretch;
        font-size: 1.7vw;

        span{
            display: block;
            color: #A6AEBB;

            @media (max-width: 1400px) {
                // Styles that are applied when the screen width is less than 1400px
                display: none; // or any other styling for display
              }
        }

        button {
            display: flex;
            border: none;
            color: #fff;
            padding: 12px 22px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 100px;
            background: #D95103;
        }
        
        
    }
}